html, body {
	margin: 0 0;
	padding: 0 0;
	min-height: 100%;
	height: 100%;
}

@font-face {
	font-family: PlutoSansRegular;
	src: url(../fonts/pluto.ttf);
}

@font-face {
	font-family: MuseoSans-300;
	src: url(../fonts/museo.ttf);
}

div.header {
	margin: 0;
	width: 100%;
	height: 142px;
}

div.headerInner {
	height: 96px;
	width: 100%;
	background: #FFFFFF;
	vertical-align: middle;

}

div.mainBodyWrapper {
	width: 100%;
	min-height: calc(100% - 141px);
	background: url(../img/background.jpg);
	background-size: 100%;
}

h1.header {
	padding-top: 20px;
	display: block;
	text-decoration: none;
	cursor: auto;
	font-size: 36px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	line-height: 100% !important;
	color : #e1aaa4;
	font-weight: bold;
	margin: 0;
	font-family: 'PlutoSansMedium', sans-serif;
}

h3.header {
	display: block;
	text-decoration: none;
	cursor: auto;
	padding-top: 5px;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	line-height: 100% !important;
	color : #e1aaa4;
	font-weight: normal;
	margin: 0;
	font-family: 'PlutoSansMedium', sans-serif;
}

div.nav {
	height: 45px;
	width: auto;
	margin: 0 auto;
	padding: 0 0;
	text-transform: uppercase;
}

.nav ul {
	list-style: none;
	text-align: center;
	margin: 0;
	padding-top: 13px;
}

.nav ul li {
	display: inline-block;
	font-size: 11px;
	letter-spacing: 0.1em;
	font-family: 'PlutoSansRegular', sans-serif;
	margin: 0 1em;
}
/*.nav ul li a {*/
	/*text-decoration: none;*/
	/*color:#000000;*/
/*}*/

/*.nav ul li:hover {*/
	/*padding-bottom: 2px;*/
	/*border-bottom: 1px solid #000000;*/
/*}*/

.nav ul li a {
	position: relative;
	text-decoration: none;
	color :#000000
}

.nav ul li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	top: 11px;
	left: 0;
	margin: auto;
	border-bottom: 1px solid #000000;
	transition: all 0.4s ease-in;
	transform: scaleX(0);
}

.nav ul li a:hover:before {
	transform: scaleX(1);
}

div.footer {
	position:fixed;
	bottom:0;
	background: #888888;
	height: 100px;
	width: 100%;
}



